<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
	<div th:replace="~{main/header :: headerFragment}"></div>

	<div layout:fragment="content">
	    <!-- 각 페이지에서 채울 영역 -->
	</div>

	<div th:replace="~{main/footer :: footerFragment}"></div>
</body>
</html>