<div th:fragment="footerFragment">
	<div class ="footer">
		<div class="footerDiv">
			<nav class = "info">
				<ul>
					<li>
						<ul class ="line1">
							<li><a href="">회사소개</a></li>
							<li><a href="">이용약관</a></li>
							<li><a href="">개인정보처리방침</a></li>
						</ul>
					</li>
					
					<li>
						<ul>
							<li><a href="">회사소개</a></li>
							<li><a href="">이용약관</a></li>
							<li><a href="">개인정보처리방침</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<nav class ="sns">
				<ul class ="line1">
					<li><a href="">페이스북</a></li>
					<li><a href="">인스타</a></li>
					<li><a href="">카카오톡</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
