<div th:fragment="headerFragment">
	<script type="module">
		import { signOut } from '/js/sign.js';

		const signOutButton = document.getElementById("signOut");
		if(signOutButton){
		signOutButton.addEventListener("click", (e)=> {
			signOut(
				()=>{
		    		location.reload(true);
				},
				(status)=>{
					alert(status);
				}
			);

		});
		}
		
	</script>
	<div id ="headerContainer">
        <div class="background-image"></div>

		<div class = "top_inner">
			<nav class = "top_nav">

				
				<ul id="login-header" sec:authorize="!isAuthenticated()">
					<li><a th:href="@{/signin}">로그인</a></li>
					<li><a th:href="@{/signup1}">회원가입</a></li>
			        <li><a href="#">고객센터</a></li>
				</ul>

				<ul id="user-header" sec:authorize="isAuthenticated()">
					<li><span id="user-welcome" th:text="|${#authentication.principal.name}님|"></span></li>
			        <li><a th:href="@{/my}">마이페이지</a></li>
			        <li><span id="signOut">로그아웃</span></button>
		            </li>
			        <li><a href="#">고객센터</a></li>
			    </ul>
			</nav>

		</div>
		<div class = "top_main">
			<div id="log_div">
				<a id="logopng" href="/">
					<img src="https://chamman.s3.ap-northeast-2.amazonaws.com/static/img/headerLogo.png" alt="Logo" class="logopng">
				</a>
			</div>
				<div id="main_nav_div">
				<ul class= "main_nav">
					<li><a href="/estimate">견적신청</a></li>
					<li><a href="/review">현장사진</a></li>
				</ul>
			</div>
		</div>
		
		</div>
	</div>
</div>