
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/base}">
<head>
  	<title>마이페이지</title>
  	<th:block layout:fragment="custom-head">
	<th:block th:replace="~{my/mypageSidebar :: sidebarStyles}"></th:block>
	
  	</th:block>
</head>
<div layout:fragment="content">
	<div class="container">
		<div th:replace="~{my/mypageSidebar :: sidebarFragment}"></div>

		<div class="content">
			
		</div>


	</div>
</div>
<th:block layout:fragment="custom-script">
<th:block th:replace="~{my/mypageSidebar :: sidebarScripts}"></th:block>

</th:block>
</html>
