
.footer{
	width: 100vw;
	padding-top: 20px;
	min-height: 300px;
	border-top: 1px solid #efefef;
	min-width: 840px;
	max-width:1900px;
	margin : 0px auto;
	margin-top: 100px;
}
.footerDiv{
	display : flex;
	width: 100%;
	min-width: 840px;
	max-width:1230px;
	margin: 0px auto;
}
.footer ul{
margin:5px 10px;
padding:0px;
list-style: none;
}
.footer ul li a{
text-decoration: none;
color:#bababa;

}
.footer ul li a:hover{
color:black;
}
.info{
margin-right: auto;

}
.line1{
display:flex;
}
.line1 li{
margin-right: 10px;
}
.sns{
margin-left: auto;

}