<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main/base}">

<head>
	<title>달빛 청소</title>
</head>
<main layout:fragment="content">
	<div th:if="${existingProviders != null}">
	    <p>해당 이메일은 이미 아래의 소셜 계정으로 가입된 이메일입니다.</p>
	    <ul>
	        <li th:each="provider : ${existingProviders}" th:text="${provider}">
	            </li>
	    </ul>
	    <p>해당 계정으로 로그인해주세요.</p>
	</div>
</main>
<th:block layout:fragment="script">

</th:block>

</html>